<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/board.js">
</head>
<body>
<div id="board">
    <form action="/add" method="post">
    제목: <input type="text" name="title">
    가게이름: <input type="text" name="store_name">
    별점: <input type="text" name="star">
    닉네임: <input type="text" name="nick">
    내용: <input type="text" name="content">
    <button type="submit">등록</button>
    </form>
</div>
<script src="/board.js"></script>
</body>
</html>