<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세정보</title>
</head>
<body>
<div id="c">
  <div id="c1">
    <h1 class="title">{{boards.title}}</h1>
    <div id="c2">
      <div id="c3">
        <h2 class="star">{{boards.star}}</h2>
        <h2 class="store">{{boards.store_name}}</h2>
      </div>
      {% for img in boards.img %}
      <div><img class="preview-images" width=100 src="{{ img.url }}" accept="image/*"></div>
      {% endfor %}
    </div>
  </div>
  <h2><textarea name="" id="" cols="30" rows="10">{{boards.content}}</textarea></h2>
</div>

</body>
</html>